table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    margin-block: 1rem;
}

th, tr, td {
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: lightpink;
}

tr:nth-child(odd) {
    background-color: lightblue;
}